body{
  font-family:"游ゴシック";
}

li{
  list-style: none;
}
a{
  color:#fff;
}
.header{
  background-color: #2f5167;
  color:#fff;
  height: 90px;
}
.header-logo{
  float: left;
  font-size: 36px;
  padding: 20px 40px;
}
.header-list{
  float: left;
}
.header-list li{
  float: left;
  font-family: "courier";
  padding: 14px 20px 20px 20px;
  font-size: 25px;
  color:#fff;
}
.main{
  padding: 0px 30px;
}
.topimage{
  width:100%;
  height:500px;
  background:url("back.jpg"),linear-gradient(rgba(0, 0, 0, 0.5),rgba(0,0,0,0.5));
  background-size:cover;
}
.copy-container h1{
  font-size: 100px;
  color:#fff;
  font-family: "courier";
  position: absolute;
  top: 10%;
  left:5%;
  text-shadow: 3px 3px 0
  rgba(0,0,0,.2);
}
.copy-container h2{
  font-size: 35px;
  margin-top: 40px;
  padding: 0.25em 0.5em;
  border-left: solid 5px #7db4e6;
}
.copy-container h3{
  font-size: 20px;
  margin-top: 30px;
}
.contents{
  margin-top:20px;
}
.section-title{
  border-bottom:2px solid #dee7ec;
  font-size: 28px;
  padding-bottom: 25px;
  margin-bottom: 70px;
}
.contents-item{
  width:auto;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap:30px;
}
.contents-item img{
  top: 50%;
  left:50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.footer{
  background-color: #2f5167;
  color:#fff;
  height: 120px;
  padding:0px 30px;
}
.footer-logo{
  float:left;
  font-size:32px;
  padding: 40px;
}
.footer-list{
  float:right;
  padding: 40px;
}
